.cm-container {
    width: 40%;
    border-right: 1px solid #eee;
    height: 100%;
    padding: 0.5rem;
    padding-left: 1rem;
}

.cm-editor {
    height: 100%;
}

.cm-container > .cm-focused {
    outline: none;
}